<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express</title>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <hello-world msg="Message from backend" />
        </v-main>
      </v-app>
    </div>
    {{ #devFiles }}
    <script type="module" src="{{ devFiles.vite }}"></script>
    <script type="module" src="{{ devFiles.main }}"></script>
    {{ /devFiles }}
    {{ #prodFiles }}
    <link rel="stylesheet" href="{{ prodFiles.css }}" />
    <script type="module" src="{{ prodFiles.js }}"></script>
    {{ /prodFiles }}
  </body>
</html>
